<mat-spinner *ngIf="!(products$ | async)"></mat-spinner>
<!--
<div class="list-heading">
  <h1>Products</h1>
</div> -->

<div class="responsive-grid">
  <mat-card
    *ngFor="let product of products$ | async"
    (click)="goToProduct(product.id)"
  >
    <div class="mat-card-top">
      <img mat-card-image [src]="product.image" />
    </div>
    <div class="mat-card-bottom">
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
      </mat-card-header>
      <br />
      <mat-card-content>
        <p>Price: {{ product.price }}&euro;</p>
        <p>Category: {{ product.category }}</p>
        <br />
      </mat-card-content>
    </div>
  </mat-card>
</div>
