<mat-spinner *ngIf="!(films$ | async)"></mat-spinner>

<div class="list-heading">
  <h1>Filme</h1>
</div>

<div class="responsive-grid">
  <mat-card *ngFor="let film of films$ | async" (click)="goToFilm(film.url)">
    <img mat-card-image src="assets/films.jpg" />
    <mat-card-header>
      <mat-card-title>{{ film.title }}</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <p>Director: {{ film.director }}</p>
      <p>Produzenten: {{ film.producer }}</p>
      <p>Erscheinungsdatum: {{ film.release_date }}</p>
      <br />
    </mat-card-content>
  </mat-card>
</div>
