<header>
  <div class="block-container">
    <div class="logo">
      <img src="assets/star-wars-logo.png" />
    </div>
    <nav class="nav-bar">
      <ul class="nav-links">
        <li class="nav-link" routerLink="films" routerLinkActive="active">Filme</li>
        <li class="nav-link" routerLink="characters" routerLinkActive="active">Charaktere</li>
        <li class="nav-link" routerLink="planets" routerLinkActive="active">Planeten</li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="block-container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div class="block-container">
    <p class="copyright">&copy; {{ year }} Company, Inc</p>
  </div>
</footer>
